<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Multiple IFTTT Triggers</title>
    <meta name="description" content="Trigger multiple services with IFTTT">
    <link id="favicon" rel="icon" href="https://glitch.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Multiple IFTTT Triggers
      </h1>
    </header>
    <main>
      <p class="bold">Oh hi! This app will trigger multiple IFTTT services for you.</p>
      <p>You want to <a href="https://glitch.com/edit/#!/project/multi-ifttt-triggers">view the code</a>, so you can see how I work and then <a href="https://glitch.com/edit/#!/remix/multi-ifttt-triggers/4761356a-9369-4e79-9d1e-a8306e8c00b5">remix</a> me to create your own.</p>
    </main>

    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>

  </body>
</html>
